html, body {
    background-color: #485e66;
    color: #f0f0f0;
    font-family: roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

body {
    padding: 100px 0;
    width: 880px;
}

a, a:hover, a:active, a:visited {
    color: #f0f0f0;
    text-decoration: none;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}

a:hover, a:active {
    color: #78aab6;
}

h1, p {
    margin-top: 0;
}

h1 {
    font-family: Montserrat;
    margin-left: -5px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 5px;
}

ul {
    margin-top: 0;
    padding: 0;
}

li {
    list-style: none;
}

strong {
  font-weight: bold;
}

.header {
    box-shadow: 0 10px 70px 50px #485e66;
    position: fixed;
    top: 0;
    width: 880px;
}

.left-col {
    position: fixed;
    width: 300px;
}

.right-col {
    margin-left: 300px;
    padding-top: 48px;
    padding-left: 80px;
    width: 480px;
}

.firstname {
    font-size: 96px;
    margin-bottom: 0;
}

.lastname {
    font-size: 73px;
    margin-bottom: 40px;
    margin-left: 3px;
    margin-top: -75px;
}

.contact-link {
    position: relative;
    margin-bottom: 8px;
}

.description {
    margin-top: 10px;
    margin-left: 40px;
}

.experience a {
  text-decoration: underline;
}

.tools-col {
    display: inline-block;
    padding-right: 60px;
    position: relative;
    vertical-align: top;
}

@media (max-width: 940px) {
    body, .header { width: 80%; }

    .header { box-shadow: none; }

    .left-col { position: static; }

    .right-col {
        margin-left: 0;
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    .right-col { width: 100%; }
}
